.results {
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.results .result-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results .result-item .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 1px 5px 1px;
}

.results .result-item .item label {
  color: darkblue;
  text-decoration: solid;
  font-weight: bold;
}

.search {
  background-color: yellow;
  text-align: center;
  padding: 15px;
}

.input {
  font-size: 25px;
  border: 2px solid orange;
  border-radius: 3px;
}